<%- include ("partials/header") %>

<script type="text/javascript">

var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('output');
      output.src = reader.result;	
    };
    reader.readAsDataURL(event.target.files[0]);
  };
	
</script>


<form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
	
	<p>Avatar<label class="btn btn-info" for="avatar"><i class="fa fa-photo"></i>上傳圖片</label>
	<input type="file" name="user[avatar]"
	id="avatar" value="<%= user.avatar %>" accept="image/*" onchange="loadFile(event)" style="display:none"></p>	
	<img id="output" src="<%= user.avatar%>" width="100" height="100" alt="User Profile Image"/>
	
	<p><label for="username">Username</label>
	<input type="text" name="user[username]"
	id="username" value="<%= user.username %>" disabled> </p>
	
	<p><label for="email">Email</label>
	<input type="email" name="user[email]"
	id="email" value="<%= user.email %>" disabled></p>
	
	<p><label for="department">Department</label>
	<input type="text" name="user[department]"
	id="department" value="<%= user.department %>" ></p>
	
	<p><label for="intro">Introduction</label>
	<input type="textarea" name="user[introduction]"
	id="intro" value="<%= user.introduction %>"></p>
	
	<button type="submit" class="btn btn-sm btn-success">Save</button>
	<button type="button"><a href="/card">Card</button>
</form>

<%- include ("partials/footer") %>
