<%- include ("partials/header") %>

<div id="indexPage" class="container">
	<h1>Result</h1>
</div>

<img id="profileImage" class="img-thumbnail mx-auto d-block" 
img src=" <%= user.avatar %>" width="100" height="100" alt="User Profile Image">		
					<hr>
<h5>Username - <%= user.username %></h5>
					<hr>
<h5>Email - <%= user.email %></h5>
					<hr>
<h5>Department - <%= user.department %></h5>
					<hr>
<h5>Introduction - <%= user.introduction %></h5>
					<hr>

<button>Start Chatting </a></button>
